<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Projects
      </h1>

      <div class="project-menu">
        <a class="project-menu-item" *ngFor="let project of projects" [routerLink]="['/projects', project._id]"
          routerLinkActive="is-active">
          <p>{{ project.title }}</p>
        </a>

      </div>

      <button class="button is-primary has-text-white" routerLink="/new-project">+ New Project</button>
      <button (click)="onLogoutClick()" class="button is-primary has-text-white logoutBtn">
        Logout
      </button>

    </div>

    <div class="task-project-container has-background-light">
      <div *ngIf="tasks">
        <div class="top-bar">
          <h1 class="title has-text-primary">
            Tasks
          </h1>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a [routerLink]="['/edit-project', selectedProjectId]" class="dropdown-item">
                  Edit
                </a>
                <a (click)="onDeleteProjectClick()" class="dropdown-item has-text-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Task Elements -->
        <div class="task" *ngFor="let task of tasks" [ngClass]="{ 'running': task.running }">
          <div class="task-text">
            <p>{{ task.title }}</p>
          </div>
          <div class="task-menu" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="time-box">
              {{ formatTime(task.totalMinutes) }}
            </div>
            <button class="button start-button" (click)="onStartStopClick(task)">
              <i class="fas" [ngClass]="{'fa-pause': task.running, 'fa-play': !task.running}"></i>

            </button>
            <div class="dropdown is-right is-hoverable">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <div class="vertical-dots">
                    <i class="fas fa-ellipsis-v"></i>
                  </div>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item" [routerLink]="['/projects', selectedProjectId, 'edit-task', task._id]">
                    <i class="fas fa-edit"></i> Edit
                  </a>
                  <a class="dropdown-item is-danger" (click)="onDeleteTaskClick(task._id)">
                    <i class="fas fa-trash"></i> Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>



        <h3 class="empty-state-text" *ngIf="tasks.length === 0">There are no tasks here! Click the add button to create
          a new task.</h3>

        <button routerLink="./new-task" class="circle-add-button button is-primary">
          <img src="../../../assets/plus-icon.svg" class="has-text-white">
        </button>
      </div>

      <div *ngIf="!tasks">
        <h3 class="empty-state-text">Please select a project from the sidebar</h3>
      </div>

    </div>

  </div>
</div>